/Temp
/*.csproj
/*.sln
/Logs
/Library
/.vscode
/.vs
/obj
/UserSettings
/*.vsconfig
*.iml
*.mp4
/.idea/.idea.toothpaste-challenge/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.toothpaste-challenge.dir/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.toothpaste-challenge/.idea/contentModel.xml
/.idea/.idea.toothpaste-challenge.dir/.idea/contentModel.xml
/.idea/.idea.toothpaste-challenge.dir/.idea/encodings.xml
/.idea/.idea.toothpaste-challenge/.idea/indexLayout.xml
/.idea/.idea.toothpaste-challenge.dir/.idea/indexLayout.xml
/.idea/.idea.toothpaste-challenge/.idea/modules.xml
/.idea/.idea.toothpaste-challenge.dir/.idea/modules.xml
/.idea/.idea.toothpaste-challenge/.idea/projectSettingsUpdater.xml
/.idea/.idea.toothpaste-challenge.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.toothpaste-challenge/.idea/vcs.xml
/.idea/.idea.toothpaste-challenge.dir/.idea/vcs.xml
/.idea/.idea.toothpaste-challenge/.idea/workspace.xml
/.idea/.idea.toothpaste-challenge.dir/.idea/workspace.xml
